@CHARSET "UTF-8";
		#header{
			background-color:#F1F1F1;
			height:60px;
		}
		.logo{
		   clear:right;
		}
		#search{
			float:left;
		}
		.input{
			width:546px;
		}
		.button{
			background-image:url(images/search.GIF);
			 height:30px;
			 width:60px;
		 }
		 #cent{
		    margin-top:60px;
		 	background-color:#F1F1F1;
		 }
		 #cent_head{
		 	magin-top:20px;
		 }
		 #head{
		 	magin-top:20px;
		 }
		 #cent table{
		 	margin-top:40px;
			border-spacing : 20px;
		 }
		 .img{
		 	width:340px;
		 	height:340px;
		 }